<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409339361796-mtc4koh209tg9sp1gpfgoh5e3vsqtut4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409339361796-mtc4koh209tg9sp1gpfgoh5e3vsqtut4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409339361796-rfjminc4oii7jglokl5tu5vkn9gvdaai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoysM4N-mCocnklWR95xF0pxuKPr4QOy8</string>
	<key>GCM_SENDER_ID</key>
	<string>409339361796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssm.heritage</string>
	<key>PROJECT_ID</key>
	<string>heritage-682e9</string>
	<key>STORAGE_BUCKET</key>
	<string>heritage-682e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409339361796:ios:38c3d36b1781cdeee85351</string>
</dict>
</plist>